

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    border-style: solid;
    border-color: var(--surface-container);
    border-width: 1px;
    border-radius: 1rem;
    box-shadow: none;
    background-color: var(--surface-card);
    padding:1rem;
}

.user-card.background {
    background-color: transparent;
    border: none;
}

.user-card.boxshadow {
    box-shadow: 0 3px 5px color-mix(in srgb, var(--text-secondary) 30%, transparent);
}

/* */

.user-card .content{
    width:100%;
    display: flex;
    flex-direction: var(--card-direction, row);
    justify-content: var(--card-justify, flex-start);
    align-items: var(--card-align, center);
    text-align: var(--card-text-align, left);
    gap: var(--card-gap, 1.5rem);
}


.user-card .name {
    color: var(--text-primary);
    font-size: 1.7rem;
    font-weight: 500;
}


.user-card .arrow {
    font-size: 2rem;
     color: var(--text-tertiary);
}

