<div class="user-header w-100">
    <div class="user-top d-flex align-items-center">

        <button class="btn menu-button d-md-none" type="button" (click)="openMenu()">
            <i class="bi bi-list"></i>
        </button>

        <a [routerLink]="['/home']">
            <img src="logo_white.svg" alt="Buy&Sell" class="logo-img">
        </a>

        <div class="user-actions d-none d-md-flex align-items-center gap-3">
            <a class="header-link" [routerLink]="['/user/panel/favorites']">
                <i class="bi bi-heart"></i>
                <span>Favoritos</span>
            </a>

            <a class="header-link header-link--messages" [routerLink]="['/user/panel/messages']">
                <i class="bi bi-chat"></i>
                <span>Mensajes</span>
                @if (unreadTotal() > 0) {
                    <span class="header-link__badge">{{ unreadTotal() }}</span>
                }
            </a>

            <a class="btn upload-button" [routerLink]="['/user/new-product']">
                <i class="bi bi-plus-lg"></i>
                Subir producto
            </a>

            <a class="header-link header-link--notifications" [routerLink]="['/user/panel/notifications']">
                <i class="bi bi-bell"></i>
                <span>Notificaciones</span>
                @if (sinLeer() > 0) {
                    <span class="header-link__badge">{{ sinLeer() }}</span>
                }
            </a>

            <a [routerLink]="['/user/panel/profile']">
                <atom-icon variant="profile-primary-circle" [text_icon]="userInitials" size="1rem" link="/user/panel/profile"></atom-icon>
            </a>
        </div>

        <div class="user-actions-mobile d-flex d-md-none align-items-center gap-3 ms-auto">
            <a class="header-link header-link--notifications" [routerLink]="['/user/panel/notifications']">
                <button class="btn icon-button" type="button">
                    <i class="bi bi-bell"></i>
                </button>
                @if (sinLeer() > 0) {
                    <span class="header-link__badge header-link__badge--floating">{{ sinLeer() }}</span>
                }
            </a>

            <a [routerLink]="['/user/panel/profile']">
                <atom-icon variant="profile-primary-circle" [text_icon]="userInitials" size="1rem" link="/user/panel/profile"></atom-icon>
            </a>
        </div>
    </div>
</div>

@if (isMenuOpen) {
    <app-user-menu-drawer (closeMenu)="closeMenu()"></app-user-menu-drawer>
}
