a {
  text-decoration: none;
  color: inherit;
}

.estadisticas {
  padding: 2rem 2.5rem;
  background: #f8f9ff;
  color: #0f172a;

  h1 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
  }

  .card {
    border: 1px solid #dbe1ea;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
}

/* Header navegación */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .navegador {
    display: flex;
  }

  .atras,
  .alante {
    display: flex;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbe1ea;
    border-radius: 10px;
    background: #fff;
    font-weight: bold;
    
  }
  .alante{
    color: #9ca3af;
    background-color: #f8f9ff;
  }

  .ruta {
    display: flex;
    align-items: center;
    border-left: 1px solid #dbe1ea;
    margin-left: 1rem;
    padding-left: 1rem;
    font-weight: bold;

    p {
      margin: 0;
    }

    div {
      margin: 0 .5rem;
      color: #9ca3af;
    }

    .panel {
      color: #003594;
    }
  }
}

/* Cards resumen */
.resumen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;

  .card {
    border: 1px solid #dbe1ea;
    border-radius: 10px;
    margin-bottom: 0.2rem;
  }

  .card-body {
    padding: 1.25rem;
  }

  h2 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 700;
  }

  h6 {
    margin: .25rem 0 0;
    font-weight: bold;
    font-size: .7rem;
    color: gray;
  }
  .porcentaje{
    color: #16A34A;
  }
  
}
h2.ventas{
    font-size: 1rem;
    font-weight: bold;
  }
/* Mobile */
@media (max-width: 768px) {
  .usuarios {
    padding: 1rem;

    h1 {
      display: none;
    }
  }

  .header {
    display: none;
  }
}