@if (showComponent()) {
<nav class="bottom-nav">
  <atom-link-icon variant="home"    [link]="['/home']" text="INICIO" size="28px"></atom-link-icon>
  <atom-link-icon variant="search"  [link]="['/explore']" text="BUSCAR" size="28px"></atom-link-icon>
  <atom-link-icon class="sell" variant="sell"    [link]="['/user/new-product']" text="VENDER" size="28px"></atom-link-icon>
  <atom-link-icon variant="message" [link]="['/user/panel/messages']" text="MENSAJES" size="28px"></atom-link-icon>
  <atom-link-icon variant="profile" [link]="['/user/panel/profile']" text="PERFIL" size="28px"></atom-link-icon>
</nav>
}
