<div class="encabezado">
    <h1>
        La tecnología que buscas
        <span class="azul">, al precio que mereces.</span>
    </h1>
    <p class="descripcion">El mercado especializado en hardware de alto rendimiento para entusiastas del gaming,
        creadores y profesionales
        tech.</p>
    <div class="flex labels">
        <span class="populares">POPULARES</span>
        <div>RTX 4080</div>
        <div>MacBook Pro</div>
        <div>PS5</div>
        <div>iPhone 15</div>
        <div>Threadripper</div>
    </div>
</div>