<!--<a [routerLink]="">-->
@if (pedido; as order) {
  @if (order.nombre) {
<div class="card">
    <div class="card-user">
        <div class="card-body cont">
            <div class="cuerpo">
                <atom-icon class="profile" variant="profile-primary-circle"
                    [text_icon]="iniciales" size="1.3rem" />
                <div class="user">
                    <h3 class="card-title">{{ nombreMostrado }}</h3>
                    <p>Compra: {{ order.titulo }}. <span>{{ order.fecha_pedido | date:'d MMMM':'':'es' }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
  }
}
<!--</a>-->