<section>
    <div class="destacados">
        <div class="contenedor">
            <h2>Artículos destacados</h2>
            <a>Ver todo -></a>
        </div>
        <div class="destac">
            @for (n of items; track n) {
                <div class="card">
                <img src="/imgs/technology.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">850 €</h5>
                    <p class="card-text">NVIDIA RTX 4080 Founders</p>
                    <div class="flex">
                        <i class="bi bi-geo-alt"></i>
                        <p class=" texto-icono">Madrid, Centro</p>
                    </div>

                </div>
            </div>
            }
            

        </div>

    </div>
    <div class="recientes">
        <div class="contenedor">
            <h2>Subido recientemente</h2>
            <a>Ver todo -></a>
        </div>
        <div class="recien">
            <div class="elemento">
                <img src="/imgs/technology.jpg" alt="">
                <h6>85 €</h6>
                <p>Teclado custom 65%</p>
            </div>
            <div class="elemento">
                <img src="/imgs/technology.jpg" alt="">
                <h6>85 €</h6>
                <p>Teclado custom 65%</p>
            </div>
            <div class="elemento">
                <img src="/imgs/technology.jpg" alt="">
                <h6>85 €</h6>
                <p>Teclado custom 65%</p>
            </div>
            <div class="elemento">
                <img src="/imgs/technology.jpg" alt="">
                <h6>85 €</h6>
                <p>Teclado custom 65%</p>
            </div>
            <div class="elemento">
                <img src="/imgs/technology.jpg" alt="">
                <h6>85 €</h6>
                <p>Teclado custom 65%</p>
            </div>
            <div class="elemento">
                <img src="/imgs/technology.jpg" alt="">
                <h6>85 €</h6>
                <p>Teclado custom 65%</p>
            </div>
        </div>
    </div>
    <div class="boton">
        <button type="button" class="btn btn-primary">Explorar todo el catálogo</button>
    </div>



</section>