<section>
    <div class="destacados">
        <div class="contenedor">
            <h2>Artículos destacados</h2>
            <a [routerLink]="['#']">Ver todo -></a>
        </div>
        <div class="destac">
            @for (bestSeller of bestSellers.slice(0,4);track bestSeller.id) {
            <div class="card">
                <img src="/imgs/technology.jpg" class="card-img-top" alt="{{bestSeller.titulo}}">
                <div class="card-body">
                    <h5 class="card-title">{{bestSeller.precio}} €</h5>
                    <p class="card-text">{{bestSeller.titulo}}</p>
                    <div class="flex">
                        <i class="bi bi-geo-alt"></i>
                        <p class=" texto-icono">{{bestSeller.provincia?.nombre}}</p>
                    </div>

                </div>
            </div>
            }


        </div>

    </div>
    <div class="recientes">
        <div class="contenedor">
            <h2>Subido recientemente</h2>
            <a>Ver todo -></a>
        </div>
        <div class="recien">
            @for(recent of recents.slice(0,6);track recent.id){
            <div class="elemento">
                <img src="/imgs/technology.jpg" alt="{{recent.titulo}}">
                <h6>{{recent.precio}} €</h6>
                <p>{{recent.descripcion}}</p>
            </div>
            }


        </div>
    </div>
    <div class="boton">
        <button type="button" class="btn btn-primary">Explorar todo el catálogo</button>
    </div>



</section>