<div class="sidebar">
    <div class="header">
        <div class="initials">{{user.iniciales}}</div>
        <div class="admin">
            <p>{{user.username}}</p>
            <div class="rol">
                <p>{{user.rol}}</p>
            </div>
        </div>
    </div>

    <nav class="nav-sidebar">
        <a [routerLink]="['/admin/panel/main']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="bi bi-person"></i>
            <p>Panel</p>
        </a>
        <a [routerLink]="['/admin/panel/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="bi bi-people"></i>
            <p>Usuarios y roles</p>
        </a>
        <a [routerLink]="['/admin/panel/categories']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="bi bi-grid-fill"></i>
            <p>Categorías</p>
        </a>
        <a [routerLink]="['/admin/panel/statistics']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="bi bi-bar-chart-fill"></i>
            <p>Estadísticas</p>
        </a>
    </nav>

    <nav class="cerrar-sesion">
        <button type="button" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i>
            <p>Cerrar sesión</p>
        </button>
    </nav>

</div>