<section class="footer" >
    <div class="description d-flex flex-column">
        <a [routerLink]="['home']"> <img src="/logo.png" alt="imagen logo"> </a>
        <p>La comunidad líder en compra y venta de hardware de segunda mano verificado. Dale una segunda vida a tu
            tecnología.</p>
        <p class="copy m-0 mt-auto">© 2026 Buy&Sell · Hecho para la comunidad tech.</p>
    </div>

    <div class="soporte">
        <nav>
            <h6>Soporte</h6>
            <a [routerLink]="['/centro-ayuda']">Centro de ayuda</a>
            <a [routerLink]="['/reglas-convivencia']">Reglas de convivencia</a>
            <a [routerLink]="['/consejos-seguridad']">Consejos de seguridad</a>
            <a [routerLink]="['/cookies']">Cookies</a>
            <a [routerLink]="['/privacidad']">Privacidad</a>
            <a [routerLink]="['/terminos']">Términos</a>
        </nav>
    </div>
    <div class="buy">
        <nav>
            <h6>Buy&Sell</h6>
            <a [routerLink]="['/quienes-somos']">Quiénes somos</a>
            <a [routerLink]="['/prensa']">Prensa</a>
            <a [routerLink]="['/empleo']">Empleo</a>
        </nav>
    </div>
</section>