<div class="new-article d-flex flex-column justify-content-center align-items-center p-3">
    <div class="container d-flex flex-column justify-content-center align-items-center gap-3">
        <h2 class="page-title">Publicar nuevo artículo</h2>
        <p>Completa los detalles para que miles de usuarios encuentren tu equipo</p>
        <organism-nav-step class="organism-nav-step d-flex flex-grow-1 w-100" [steps]="loadSteps()"/>
        
        <organism-detail-form class="my-card"
        [class.my-hidden]="currentStep() !== 1" 
        [showErrors]="detailShowErrors()"
        (formValid)="detailValid.set($event)"
        (formValue)="detailValue.set($event)"/>

        <organism-price-form class="my-card"
        [class.my-hidden]="currentStep() !== 2" 
        [showErrors]="priceShowErrors()"
        (formValid)="priceValid.set($event)"
        (formValue)="priceValue.set($event)"/>
    

        <div [class.my-hidden]="currentStep() !== 3" class="my-card">
            <organism-photo-uploader (photoFiles)="onPhotos($event)"></organism-photo-uploader>
        </div>

       <!-- Botones de navegación -->
        <div class="d-flex flex-row flex-grow-1 w-100">
            <atom-button [class.my-hidden]="currentStep() <= 1" class="btn-desktop ml-auto" config_type="outline" 
            label="Atrás" icon="arrow-left" iconPosition="left" (clickButton)="previousStep()"/>

            <atom-button
            [class.my-hidden]="currentStep() >= 3"
            [config_state]="isCurrentStepValid() ? 'enabled' : 'disabled'"
            class="btn-desktop ms-auto"
            config_type="secondary"
            label="Siguiente"
            icon="arrow-right"
            iconPosition="right"
            (clickButton)="nextStep()"/>
           
            <atom-button 
            [class.my-hidden]="currentStep() !== 3" 
            [config_state]="isAllValid() ? 'enabled' : 'disabled'"
            class="btn-desktop ms-auto" 
            config_type="primary" 
            label="Publicar artículo"  
            (clickButton)="onPublish()"/>
        </div>

        <div class="d-flex flex-row flex-grow-1 w-100 justify-content-between">
            <atom-button class="btn-mobile" [config_state]="isAllValid() ? 'enabled' : 'disabled'" config_type="outline" label="Borrador" (clickButton)="onSaveDraft()"/>
            <atom-button class="btn-mobile" [config_state]="isAllValid() ? 'enabled' : 'disabled'" config_type="primary" label="Publicar artículo" (clickButton)="onPublish()"/>
        </div>
    </div>
    <molecule-loading-overlay [isLoading]="isValidating()" message="Validando producto"/>
</div>
