<section>
        <!-- Usuario no logado -->
        @if (isGuest) {
            <app-guest-header></app-guest-header>
        }

        <!-- Usuario logado -->
        @if (isUser) {
            <app-user-header></app-user-header>
        }

        <!-- Administrador -->
        @if (isAdmin) {
            <app-admin-moderator-header></app-admin-moderator-header>
        }

        <!-- Moderador -->
         @if (isModerator) {
            <app-moderator-header></app-moderator-header>
         }
</section>