<section class="reportes">
    <div class="header">
        <div class="navegador">
            <a [routerLink]="['/moderator/panel/main']">
                <div class="atras"><</div>
            </a>
            <div class="alante">></div>
        </div>

        <div class="ruta">
            <p class="panel">Panel</p>
            <div>></div>
            <p>Reportes</p>
        </div>
    </div>

    <div class="heading">
        <div>
            <h1>Reportes</h1>
            <p class="descripcion">Artículos reportados pendientes de revisión</p>
        </div>
    </div>
</section>