<div class="new-article d-flex flex-column justify-content-center align-items-center p-5">
    <div class="container d-flex flex-column justify-content-center align-items-center">

        <h2>Publicar nuevo artículo</h2>
        <p>Completa los detalles para que miles de usuarios encuentren tu equipo</p>
        <organism-nav-step class="d-flex flex-grow-1 w-100 pb-4" [steps]="loadSteps()"></organism-nav-step>
        @if(currentStep() === QUERYPARAM_NONE) {
            <div>ToDo: Organismo datos del artículo</div>
            <div class="d-flex flex-row flex-grow-1 w-100">
                <atom-button class="ms-auto" config_type="secondary" label="Siguiente" icon="arrow-right" iconPosition="right" (clickButton)="nextStep()"/>
            </div>
        } @else if(currentStep() === QUERYPARAM_DETAIL) {
            <div>ToDo: Organismo precio y ubicación</div>
            <div class="d-flex flex-row flex-grow-1 w-100">
                <atom-button class="btn-back ml-auto" config_type="outline" label="Atrás" icon="arrow-left" iconPosition="left" (clickButton)="previousStep()"/>
                <atom-button class="ms-auto" config_type="secondary" label="Siguiente" icon="arrow-right" iconPosition="right" (clickButton)="nextStep()"/>
            </div>
        } @else if(currentStep() === QUERYPARAM_PRICE) {
            <organism-photo-uploader></organism-photo-uploader>
            <div class="d-flex flex-row flex-grow-1 w-100">
                <atom-button class="btn-back ml-auto" config_type="outline" label="Atrás" icon="arrow-left" iconPosition="left" (clickButton)="previousStep()"/>
                <atom-button class="ms-auto" config_type="secondary" label="Siguiente" icon="arrow-right" iconPosition="right" (clickButton)="nextStep()"/>
            </div>
        } @else if(currentStep() === QUERYPARAM_PICTURES) {
        <div class="d-flex flex-row flex-grow-1 w-100">
            <atom-button class="btn-back ml-auto" config_type="outline" label="Atrás" icon="arrow-left" iconPosition="left" (clickButton)="previousStep()"/>
            <atom-button class="ms-auto" config_type="secondary" label="Publicar artículo" icon="arrow-right" iconPosition="right" (clickButton)="nextStep()"/>
        </div>
        }
       
       
    </div>
</div>
