<div class="container mt-2">
<p>breadcrumbs</p>
<div class="d-flex flex-row">
    <div class="images">
        <div class="image-main">
            <img src="" alt="">
            <p>img</p>
        </div>
        <div class="image-secondary">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>
    <div class="product-info flex-column">
        <p>Label disponible - no disponible</p>
        <h1 class="fw-bold fs-4">Nvidia GForce RTX 4080 Founders Edition</h1>
        <div class="label-field">
            <p>Label</p> <p>Updated At</p>
        </div>
        <p>Price</p>
        <p>Price()</p>
        <p>User Molecule?</p>
        <p>Button Contact</p>
        <p>Button Buy</p>
        <p>Button Report</p>
    </div>
    
</div>
<hr>
<div class="flex especificaciones">
    <h3>Especificaciones</h3>
    div
</div>
</div>
