<div class="container mt-2">
<p>breadcrumbs</p>
<div class="d-flex flex-row">
    <div class="images">
        <div class="image-main">
            <img src="" alt="">
            <p>img</p>
        </div>
        <div class="image-secondary">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>
    <div class="product-info flex-column">
        <p>Label disponible - no disponible</p>
        <h1 class="fw-bold fs-4">{{product()?.titulo}}</h1>
        <div class="label-field">
            <atom-badge variant="asnew" label="{{product()?.estado_conservacion_id}}"></atom-badge> <p>{{product()?.updated_at | date: "d-MM-yyyy"}}</p>
        </div>
        <p>Price</p>
        <p>{{product()?.precio}}</p>
        <p>User Molecule?</p>
        <atom-button config_type="secondary" icon="chat-left" label="Contactar con el vendedor"></atom-button>
        <atom-button config_type="primary" label="Comprar ahora"></atom-button>
        <atom-button config_type="link" icon="flag" label="Informar de un problema con este producto"></atom-button>
    </div>
    
</div>
<hr>
<div class="flex especificaciones">
    <h3>Especificaciones</h3>
    div
</div>
</div>
