<div class="container mt-2">
<p>breadcrumbs</p>
<div class="d-flex flex-row">
    <div class="images">
        <div class="image-main">
            <img src="" alt="">
            <p>img</p>
        </div>
        <div class="image-secondary">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>
    <div class="product-info flex-column">
        <atom-badge variant={{product()?.estado_articulo_id}}></atom-badge>
        <h1 class="fw-bold fs-4">{{product()?.titulo}}</h1>
        <div class="d-flex flex-row">
            <atom-badge variant={{product()?.estado_conservacion_id}}></atom-badge> <p class="product-fecha">{{product()!.updated_at | timeAgo }}</p>
        </div>
        <div class="product-precio">
            <p class="product-precio__label">PRECIO</p>
            <p class="product-precio__num">{{product()?.precio}} €</p>
        </div>
        <p>User Molecule?</p>
        <div class="d-flex flex-column gap-2">
            <atom-button config_type="secondary" icon="chat-left" label="Contactar con el vendedor" (click)="onContactar($event)"></atom-button>
            <atom-button config_type="primary" label="Comprar ahora" (click)="onComprar($event)"></atom-button>
            <atom-button config_type="link" icon="flag" label="Informar de un problema con este producto" (click)="onInformar($event)"></atom-button>
        </div>
    </div> 
</div>
<hr>
<div class="flex especificaciones">
    <h3 class="fw-bold p-2">Especificaciones</h3>
    <div class="container flex-row descripcion mb-5">
        <h5 class="fw-bold fs-5 mt-2">Descripción del vendedor</h5>
        <p>{{product()?.descripcion}}</p>
    </div>
</div>
</div>
