.header-container {
    min-height: 3rem;
    padding: 0.5rem 2rem;
}

.logo-img {
    display: block;
}

.search-box {
    background-color: aliceblue;
    border-radius: 0.75rem;
    padding-left: 1rem;
}

.search-icon {
    font-size: 1rem;
    color: gray;
    margin-right: 0.75rem;
}

.search-input {
    width: 100%;
    border: none;
    background-color: transparent;
}

.login-button {
    border: 2px solid blue;
    color: blue;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
}

.login-button:hover {
    color: blue;
}

.upload-button {
    background-color: orange;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
}

.upload-button:hover {
    background-color: orange;
    color: white;
}


@media screen and (max-width: 400px) {
    .contenedor-flex{
        display:block;
    }
    .lista-flex{
        display:block;
    }
    h2,li{
        margin:1rem 0;
    }
}