<section>
    <div [routerLink]="['#']">
        <img class="img1"
            src="https://res.cloudinary.com/djqduukxt/image/upload/v1781777075/categorias/iconos/lfagsflbnfy5uupwa3r8.png"
            alt="icono todos">
        <p class="todo">TODO</p>
    </div>
    @if(categorias){
    @for(categoria of categorias.slice(0,8);track categoria.id){
    <div [routerLink]="['#']">
        <img src="{{categoria.icono}}"
            alt="icono categoría {{categoria.nombre}}">
        <p>{{categoria.nombre}}</p>
    </div>
    }
    }


</section>