a {
    text-decoration: none;
    color: inherit;
}

.categorias {
    padding: 2rem 2.5rem;
    background: #f8f9ff;
    color: #0f172a;

    h1 {
        margin: 1rem 0 .5rem 0;
        font-size: 2rem;
        font-weight: 700;
    }
}

/* Header */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .navegador {
        display: flex;
    }

    .atras,
    .alante {
        display: flex;
        border: 1px solid #dbe1ea;
        border-radius: 10px;
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        background: #fff;
    }

    .alante {
        color: #9ca3af;
        background-color: #f8f9ff;
    }

    .ruta {
        display: flex;
        align-items: center;
        border-left: 1px solid #dbe1ea;
        margin-left: 1rem;
        padding-left: 1rem;
        font-weight: bold;

        p {
            margin: 0;
        }

        div {
            margin: 0 .5rem;
            color: #9ca3af;
        }

        .panel {
            color: #003594;
        }
        .catego{
            color: #003594;
        }
    }
}

p.descripcion {
    color: gray;
}
.guardar{
    margin-top: 1rem;
    background-color: #003594;
    font-weight: bold;
    border: none;

}
label{
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: .3rem;
}
.label-descripcion{
    display: inline-block;
    margin-top: 0.5rem;
}
input.descripcion::placeholder{
    color:gray;
}

.card-body{
    background-color: white;
    border-radius: 10px;
}
form{
    margin: 1rem 1rem;
    padding: 1rem 0;
}
.acciones{
    display: flex;
    justify-content: flex-end;
}
.cancelar{
    background-color: white;
    color: #003594;
}
/* Mobile */
@media (max-width: 768px) {
    .categorias {
        padding: 1rem;

        h1 {
            font-size: 1.45rem;
            margin: 0 0 .25rem;
        }
    }

    .header {
        display: none;
    }

   

}