.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: white;
    color: black;
    border-bottom: 1px solid #c4c6d4;
    width: 100%;
}

main {
    flex: initial;
}

footer{
    background-color: var(--primary-color);
    color:gray;
    width: 100%;
    text-align: center;
    padding: .5rem 0 0.1rem 0;
}
