section{
    border-bottom: 1px solid #C4C6D4;
    display: flex;
    justify-content:flex-start;
    padding:1rem 0;
}
div{
    text-align: left;
    margin-left: 2rem;
}
h6{
    font-size: .6rem;
}
.soporte,.buy{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 20%;
}
.description{
    max-width: 40%;
}
img{
    padding-bottom: 0.5rem;
}