<div class="sidebar">
    <div class="header">
        <div class="initials">{{user.iniciales}}</div>
        <div class="moderator">
            <p><!--{{user.name}}--> Moderator name</p>
            <div class="stars">
                <i class="bi bi-star-fill"></i>
                <p>{{ratings.puntuacion_media}} <span>({{ratings.total_valoraciones}})</span> </p>
            </div>

        </div>
    </div>
    <nav class="nav-sidebar">
        <a [routerLink]="['/moderator/panel/main']" routerLinkActive="active">
            <i class="bi bi-person"></i>
            <p>Panel</p>
        </a>
        <a [routerLink]="['/moderator/panel/incidents']" routerLinkActive="active">
            <i class="bi bi-flag"></i>
            <p>Reportes pendientes</p>
        </a>
        <a class="historial" [routerLink]="['/moderator/panel/historic']" routerLinkActive="active">
            <i class="bi bi-clock"></i>
            <p>Historial</p>
        </a>
        <a class="mis-valoraciones" [routerLink]="['/moderator/panel/ratings']" routerLinkActive="active">
            <i class="bi bi-star"></i>
            <p>Mis valoraciones</p>
        </a>
        <a class="ajustes" [routerLink]="['/moderator/panel/settings']" routerLinkActive="active">
            <i class="bi bi-gear"></i>
            <p>Ajustes</p>
        </a>
    </nav>
</div>