.header,.stars {
    display:flex;
}

p{
    margin: 0;
}
.profile{
    margin-left: .5rem;
}

.text-profile{
    font-weight: bold;
}

.stars{
    align-items: center;
}

.stars p{
    font-size: .8rem;
    font-weight: bold;
    margin-left: 0.3rem;
    color:#FE6B00;
}
.stars span{
    margin:0px;
    font-weight: 400;
    color:gray;
}

.header{
    display: flex;
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgb(189, 187, 187);
}

.rol p {
  margin: 0;
  font-size: .75rem;
  font-weight: 700;
  color: #003594;
}