<section class="admin-dashboard">

  <div class="dashboard-header">
    <h1>Mis favoritos</h1>
  </div>
  <div class="tabs">
    <a [class.active]="activeTab === 'articulos'" (click)="activeTab = 'articulos'">
      Artículos
    </a>

    <a [class.active]="activeTab === 'usuarios'" (click)="activeTab = 'usuarios'">
      Usuarios
    </a>
  </div>

  @if (activeTab === 'articulos') {
  <div>
    <p>6 artículos guardados</p>

    <div class="contenedor">
      <!--@for (article of articles; track article.id) {-->
      <app-favorite-article
        texto_articulo="NVIDIA RTX 4070 Ti Super 16GB GDDR6X" 
        ubicacion="León" 
        iniciales="MR" 
        nombre="Marta R." 
        estrellas="4.8" 
        valoraciones="124" 
        texto_boton="Ver detalle" 
        [articleId]="2" 
        (clicar)="irADetalleArticulo($event)" 
      ></app-favorite-article>
      <app-favorite-article
        texto_articulo="NVIDIA RTX 4070 Ti Super 16GB GDDR6X" 
        ubicacion="León" 
        iniciales="MR" 
        nombre="Marta R." 
        estrellas="4.8" 
        valoraciones="124" 
        texto_boton="Ver detalle" 
        [articleId]="2" 
        (clicar)="irADetalleArticulo($event)" 
      ></app-favorite-article>
      <app-favorite-article
        texto_articulo="NVIDIA RTX 4070 Ti Super 16GB GDDR6X" 
        ubicacion="León" 
        iniciales="MR" 
        nombre="Marta R." 
        estrellas="4.8" 
        valoraciones="124" 
        texto_boton="Ver detalle" 
        [articleId]="2" 
        (clicar)="irADetalleArticulo($event)" 
      ></app-favorite-article>
      <app-favorite-article
        texto_articulo="NVIDIA RTX 4070 Ti Super 16GB GDDR6X" 
        ubicacion="León" 
        iniciales="MR" 
        nombre="Marta R." 
        estrellas="4.8" 
        valoraciones="124" 
        texto_boton="Ver detalle" 
        [articleId]="2" 
        (clicar)="irADetalleArticulo($event)" 
      ></app-favorite-article>
      <!--}-->
    </div>
  </div>
  }

  @if (activeTab === 'usuarios') {
  <div class="conten">
    <p>4 usuarios que sigues</p>

    <!--@for (user of users; track user.id) {-->
    <div class="users">
      <div>
        <app-favorite-user 
        iniciales="IO" 
        nombre="Irene O." 
        estrellas="4.8" 
        valoraciones="124" 
        texto_boton="Ver detalle" 
        [userId]="2" 
        (clicar)="irADetalleUsuario($event)" 
        ></app-favorite-user>
      </div>
      <div>
        <app-favorite-user 
        iniciales="IO" 
        nombre="Irene O." 
        estrellas="4.8" 
        valoraciones="124" 
        texto_boton="Ver detalle"
        ></app-favorite-user>
      </div>
        

    </div>
    <!--}-->
  </div>
  }




</section>