section{
    margin:3rem 2rem;
}
h1{
    color:#0B1C30;
    font-weight: bold;
    font-size: 2.5rem;

}
a{
    text-decoration: none;
    color:#747683;

}
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding-bottom: .5rem;
  border-bottom: 1px solid rgb(204, 201, 201);
  max-width: 150px;
}
.flex{
    display: flex;
}
tabs button{
    color: #747683;

}
a.active {
  color: #003594;
  
}

/*Posicionamiento corazón*/
.card {
  position: relative;
}

.favorite-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 40px;
  height: 40px;

  border: none;
  border-radius: 50%;

  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.favorite-btn i {
  font-size: 1.2rem;
}
/*****/
.contenedor{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.card{
    flex: 0 0 31%;
}
.contenedor p:first-child{
    color: #444652;
    margin-bottom: 1.5rem;
}
h5{
    color:#0B1C30;
    font-weight: bold;

}
.geo{
    color: #444652;
    font-size: .8rem;
    border-bottom: 1px solid #E5EEFF;
    p{
        margin-left: .5rem;
    }
}
.datos-usuario{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: .8rem;
}
.iniciales{
    display: flex;
    border-radius: 50%;
    background-color: #003594;
    color:white;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: .5rem;
}
.datos-usuario p{
    margin: 0 !important;
}
.usuario p:first-child{
    color: #0B1C30;
    font-weight: bold;
}
.star{
    color: #F5A623;
    margin-right: .4rem;
}
.footer-card{
    margin:.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-card h5{
    color:#003594;
}
.footer-card a,.perfil{
    color:#003594;
    background-color: white;
    border: 2px solid #003594;
}
/******/
/*Lista de usuarios*/
.users {
  margin-bottom: 1rem;

  .card {
    border: 1px solid #dbe1ea;
    border-radius: 10px;
  }
}

.card-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont {
  display: flex;
  align-items: center;

  .iniciales {
    display: flex;
    background: #003594;
    color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    font-weight: 600;
  }

  .user {
    h3 {
      margin: 0;
      font-size: 1rem;
      font-weight: bold;
    }

    p {
      margin: .25rem 0 0;
      color: #6b7280;
      font-size: .9rem;
    }
    
  }
  
}
.derecha{
    display: flex;
    align-items: center;
}
.derecha i{
    color:red;
    font-size: 1.5rem;
    margin:0 1rem;
  }
  .conten p{
    margin-bottom: 1.5rem;
  }
/*******/