<section class="admin-dashboard">

  <div class="dashboard-header">
    <h1>Mis favoritos</h1>
  </div>
  <div class="tabs">
    <a [class.active]="activeTab === 'articulos'" (click)="activeTab = 'articulos'">
      Artículos
    </a>

    <a [class.active]="activeTab === 'usuarios'" (click)="activeTab = 'usuarios'">
      Usuarios
    </a>
  </div>

  @if (activeTab === 'articulos') {
  <div>
    <p>6 artículos guardados</p>

    <div class="contenedor">
      <!--@for (article of articles; track article.id) {-->
      <div class="card" style="width: 18rem;">
        <img src="/imgs/technology.jpg" class="card-img-top" alt="">
        <button class="favorite-btn">
          <i class="bi bi-heart-fill"></i>
        </button>
        <div class="card-body">
          <h5 class="card-title">NVIDIA RTX 4070 Ti Super 16GB GDDR6X</h5>
          <div class="flex geo">
            <i class="bi bi-geo-alt"></i>
            <p class=" texto-icono">León</p>
          </div>
          <div class="datos-usuario">
            <div class="iniciales">MR</div>
            <div class="usuario">
              <p>Marta R.</p>
              <p><i class="bi bi-star-fill star"></i>4.8 . 124 valoraciones</p>
            </div>
          </div>
          <div class="footer-card">
            <h5>689 €</h5>
            <a class="btn btn-primary">Ver detalle</a>
          </div>

        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/imgs/technology.jpg" class="card-img-top" alt="">
        <button class="favorite-btn">
          <i class="bi bi-heart"></i>
        </button>
        <div class="card-body">
          <h5 class="card-title">NVIDIA RTX 4070 Ti Super 16GB GDDR6X</h5>
          <div class="flex geo">
            <i class="bi bi-geo-alt"></i>
            <p class=" texto-icono">León</p>
          </div>
          <div class="datos-usuario">
            <div class="iniciales">MR</div>
            <div class="usuario">
              <p>Marta R.</p>
              <p><i class="bi bi-star-fill star"></i>4.8 . 124 valoraciones</p>
            </div>
          </div>
          <div class="footer-card">
            <h5>689 €</h5>
            <a class="btn btn-primary">Ver detalle</a>
          </div>

        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/imgs/technology.jpg" class="card-img-top" alt="">
        <button class="favorite-btn">
          <i class="bi bi-heart"></i>
        </button>
        <div class="card-body">
          <h5 class="card-title">NVIDIA RTX 4070 Ti Super 16GB GDDR6X</h5>
          <div class="flex geo">
            <i class="bi bi-geo-alt"></i>
            <p class=" texto-icono">León</p>
          </div>
          <div class="datos-usuario">
            <div class="iniciales">MR</div>
            <div class="usuario">
              <p>Marta R.</p>
              <p><i class="bi bi-star-fill star"></i>4.8 . 124 valoraciones</p>
            </div>
          </div>
          <div class="footer-card">
            <h5>689 €</h5>
            <a class="btn btn-primary">Ver detalle</a>
          </div>

        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/imgs/technology.jpg" class="card-img-top" alt="">
        <button class="favorite-btn">
          <i class="bi bi-heart"></i>
        </button>
        <div class="card-body">
          <h5 class="card-title">NVIDIA RTX 4070 Ti Super 16GB GDDR6X</h5>
          <div class="flex geo">
            <i class="bi bi-geo-alt"></i>
            <p class=" texto-icono">León</p>
          </div>
          <div class="datos-usuario">
            <div class="iniciales">MR</div>
            <div class="usuario">
              <p>Marta R.</p>
              <p><i class="bi bi-star-fill star"></i>4.8 . 124 valoraciones</p>
            </div>
          </div>
          <div class="footer-card">
            <h5>689 €</h5>
            <a class="btn btn-primary">Ver detalle</a>
          </div>

        </div>
      </div>
      <!--}-->
    </div>
  </div>
  }

  @if (activeTab === 'usuarios') {
  <div class="conten">
    <p>4 usuarios que sigues</p>

    <!--@for (user of users; track user.id) {-->
    <div class="users">
      <a [routerLink]="">
        <div class="card">
          <div class="card-user">
            <div class="card-body cont">
              <div class="iniciales">IO</div>
              <div class="user">
                <h3 class="card-title">irene O.</h3>
                <p><i class="bi bi-star-fill star"></i>4.8 . 124 valoraciones</p>
              </div>
            </div>
            <div class="label">
              <div class="derecha">
                <a class="btn btn-primary perfil">Ver perfil</a>
                <i class="bi bi-heart-fill"></i>
              </div>

            </div>
          </div>
        </div>
      </a>

    </div>

    <div class="users">
      <a [routerLink]="">
        <div class="card">
          <div class="card-user">
            <div class="card-body cont">
              <div class="iniciales">IO</div>
              <div class="user">
                <h3 class="card-title">irene O.</h3>
                <p><i class="bi bi-star-fill star"></i>4.8 . 124 valoraciones</p>
              </div>
            </div>
            <div class="label">
              <div class="derecha">
                <a class="btn btn-primary perfil">Ver perfil</a>
                <i class="bi bi-heart-fill heart2"></i>
              </div>

            </div>
          </div>
        </div>
      </a>

    </div>
    <!--}-->
  </div>
  }




</section>