@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #EFF4FF;
  --secondary-color: #F8F9FF;

}

html,
body {
  font-family: "Inter", sans-serif;
}
footer{
  font-family: 'IBM Plex Mono', monospace;
}
