#user-report {
    text-decoration: none;
    outline: none;
    color: var(--err);
}

#user-card {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 2rem;
    border-width: 1px;
    border-style: solid;
    background-color: var(--surface-card);
    border-color: var(--surface-container);

    h2 {
        font-weight: 600;
        color: var(--text-primary);
    }
}

#user-info {
    color: var(--text-tertiary);
}

#user {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#user-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 20px 0 20px;
}

/* Mobile */
@media (max-width: 768px) {
    #user-card {
        display:flex;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.20);
    }

    #user {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #user-content {
        align-items: center;
    }

    #contact {
        display: flex;
        width: 100%;
    }
}