<div class="sidebar">
    <molecule-header-profile 
        username="{{user.username}}" 
        initials="{{user.iniciales}}" 
        role="{{user.rol}}" 
        rating_average="{{ratings.puntuacion_media}}" 
        rating_total="{{ratings.total_valoraciones}}"     
        ></molecule-header-profile>
    @if(role() === 'user'){
        <nav class="nav-sidebar">
            <a [routerLink]="['/user/panel/profile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-person"></i>
                <p>Mi Perfil</p>
            </a>
            <a [routerLink]="['/user/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-bell"></i>
                <p>Notificaciones</p>
            </a>
            <a [routerLink]="['/user/panel/sales']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-box"></i>
                <p>Productos</p>
            </a>
            <a [routerLink]="['/user/panel/my-purchases']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-handbag"></i>
                <p>Compras</p>
            </a>
            <a [routerLink]="['/user/panel/messages']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-chat"></i>
                <p>Mensajes</p>
            </a>
            <a [routerLink]="['/user/panel/favorites']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-heart"></i>
                <p>Favoritos</p>
            </a>
            <a [routerLink]="['/user/panel/my-reviews']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-star"></i>
                <p>Mis Valoraciones</p>
            </a>
        </nav>

    }
    @else if(role() ==='moderator'){
        <nav class="nav-sidebar">
            <a [routerLink]="['/moderator/panel/main']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-kanban"></i>
                <p>Panel</p>
            </a>
            <a [routerLink]="['/moderator/panel/incidents']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-flag"></i>
                <p>Reportes pendientes</p>
            </a>
            <a [routerLink]="['/moderator/panel/historic']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-clock"></i>
                <p>Historial</p>
            </a>
            <a [routerLink]="['/moderator/panel/profile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-person"></i>
                <p>Mi perfil</p>
            </a>
        </nav>
    }
    @else if(role() ==='admin'){
        <nav class="nav-sidebar">
            <a [routerLink]="['/admin/panel/main']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-kanban"></i>
                <p>Panel</p>
            </a>
            <a [routerLink]="['/admin/panel/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-people"></i>
                <p>Usuarios y roles</p>
            </a>
            <a [routerLink]="['/admin/panel/categories']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-grid-fill"></i>
                <p>Categorías</p>
            </a>
            <a [routerLink]="['/admin/panel/statistics']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-bar-chart-fill"></i>
                <p>Estadísticas</p>
            </a>
            <a [routerLink]="['/admin/panel/reports']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-flag"></i>
                <p>Reportes</p>
            </a>
            <a [routerLink]="['/admin/panel/profile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-person"></i>
                <p>Mi perfil</p>
            </a>  
        </nav>
        <div class="moderator-access">
            <a [routerLink]="['/moderator/panel/main']" class="btn-moderator-panel">
                Panel del moderador
            </a>
        </div>          
    }
    @if (showAdminBtn()) {
        <div class="moderator-access">
            <a [routerLink]="['/admin/panel/main']" class="btn-moderator-panel">
                Panel de administrador
            </a>
        </div>
    }
    <nav class="cerrar-sesion">
        <button type="button" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i>
            <p>Cerrar sesión</p>
        </button>
    </nav>
</div>