<section class="usuarios">
    <h1>Usuarios</h1>
    <!--<app-buscador></app-buscador>-->
    <div class="resumen">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">1.284</h2>
                <h6 class="card-subtitle mb-2 text-muted">USUARIOS</h6>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">12</h2>
                <h6 class="card-subtitle mb-2 text-muted">MODERADORES</h6>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">37</h2>
                <h6 class="card-subtitle mb-2 text-muted">BLOQUADOS</h6>

            </div>
        </div>
    </div>
    <div class="users">
        <a [routerLink]="['/admin/panel/main']">
            <div class="card">
                <div class="card-user">
                    <div class="card-body cont">
                        <div class="iniciales">MG</div>
                        <div class="user">
                            <h3 class="card-title">Manuel G.</h3>
                            <p class="card-subtitle mb-2 text-muted">manuel@manuel.es</p>
                        </div>
                    </div>
                    <div class="label">
                        <div class="label-rol">USUARIO</div>
                        <div class="label-bloqueado">BLOQUEADO</div>
                    </div>
                </div>
            </div>
        </a>

    </div>

</section>